Repository Tuhura-Tech/wiki, pull requests merged in 2024-12, with the labels that each got.

#439 feat: Style guide
  src/content/docs/game-design/godot/dungeoncrawler/1-player/index.mdx
  src/content/docs/tuhura-tech/contribute.mdx
  src/content/docs/tuhura-tech/style.mdx
Labels: new resource

#466 fix: update of survivors-like to new tutorial format
  astro.config.mjs
  src/content/docs/game-design/godot/survivors.mdx
  src/content/docs/game-design/godot/survivors/0-settingup/index.mdx
  src/content/docs/game-design/godot/survivors/1-enemies/index.mdx
  src/content/docs/game-design/godot/survivors/2-health/index.mdx
  src/content/docs/game-design/godot/survivors/3-spawning/index.mdx
  src/content/docs/game-design/godot/survivors/4-projectiles/index.mdx
  src/content/docs/game-design/godot/survivors/5-aiming/index.mdx
  src/content/docs/game-design/godot/survivors/6-score/index.mdx
  src/content/docs/game-design/godot/survivors/7-bullettypes/index.mdx
  src/content/docs/game-design/godot/survivors/8-polish/index.mdx
Labels: resource update, resource: game-dev

#463 fix: Updates 3D Game tutorial to new tutorial structure
  astro.config.mjs
  src/content/docs/game-design/godot/3dGame.mdx
  src/content/docs/game-design/godot/crystalgame/0-setup/index.mdx
  src/content/docs/game-design/godot/crystalgame/1-charactercontroller/index.mdx
  src/content/docs/game-design/godot/crystalgame/2-objective/index.mdx
  src/content/docs/game-design/godot/crystalgame/3-enemies/index.mdx
  src/content/docs/game-design/godot/crystalgame/4-spawning/index.mdx
  src/content/docs/game-design/godot/crystalgame/5-fightingback/index.mdx
  src/content/docs/game-design/godot/crystalgame/6-ui/index.mdx
  src/content/docs/game-design/godot/crystalgame/7-winning/index.mdx
  src/content/docs/game-design/godot/crystalgame/8-finishingup/index.mdx
  src/content/docs/tuhura-tech/contribute.mdx
Labels: resource: game-dev

#452 refactor: 3D Intro split up into the new tutorial system
  astro.config.mjs
  src/content/docs/game-design/godot/3d-intro/0-making-project/index.mdx
  src/content/docs/game-design/godot/3d-intro/1-navigating-viewport/index.mdx
  src/content/docs/game-design/godot/3d-intro/2-making-the-player/index.mdx
  src/content/docs/game-design/godot/3d-intro/3-controlling-camera/index.mdx
  src/content/docs/game-design/godot/3d-intro/4-changing-controls/index.mdx
  src/content/docs/game-design/godot/3d-intro/5-making-platforms/index.mdx
  src/content/docs/game-design/godot/3d-intro/6-adding-a-button/index.mdx
  src/content/docs/game-design/godot/3d-intro/7-scripting-button/index.mdx
  src/content/docs/game-design/godot/3d.mdx
Labels: new resource, resource: game-dev
